In [ ]:
SELECT name, salary FROM employees WHERE salary > 50000 ORDER BY salary DESC;