# Incorrect SQL Solution

This intentionally uses wrong table names and lacks constraints.

In [ ]:
CREATE TABLE client (
    id INT,
    fullname NVARCHAR(255),
    mail NVARCHAR(255)
);

CREATE TABLE purchase (
    id INT,
    client_id INT,
    date_ordered DATETIME,
    price MONEY
);

INSERT INTO client VALUES (1, 'Alice Smith', 'alice@example.com');
INSERT INTO client VALUES (2, 'Bob Johnson', 'bob@example.com');

INSERT INTO purchase VALUES (1, 1, '2023-01-01', 250.00);
INSERT INTO purchase VALUES (2, 2, '2023-01-05', 150.50);

SELECT * FROM client;
SELECT * FROM purchase;