# Correct SQL Solution

Implements all requirements from the assignment.

In [ ]:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(100),
    Email VARCHAR(255) UNIQUE,
    CreatedAt DATETIME
);

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderDate DATETIME,
    Amount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

INSERT INTO Customers (CustomerID, Name, Email, CreatedAt) VALUES
(1, 'Alice Smith', 'alice@example.com', GETDATE()),
(2, 'Bob Johnson', 'bob@example.com', GETDATE()),
(3, 'Carol Williams', 'carol@example.com', GETDATE());

INSERT INTO Orders (OrderID, CustomerID, OrderDate, Amount) VALUES
(101, 1, '2023-01-01', 250.00),
(102, 2, '2023-01-05', 150.50),
(103, 1, '2023-01-10', 300.00),
(104, 3, '2023-01-15', 400.75),
(105, 2, '2023-01-20', 100.25);

SELECT
    c.Name,
    COUNT(o.OrderID) AS TotalOrders,
    SUM(o.Amount) AS TotalAmount
FROM
    Customers c
LEFT JOIN
    Orders o ON c.CustomerID = o.CustomerID
GROUP BY
    c.Name
ORDER BY
    TotalAmount DESC;